*~
\#*\#
stdout
*.eprj
*.svn
*.pyc
*.pyo
*.orig
*.o
*.so
*.class
*.dmg
var/web/static/*.pdf
var/web/static/*.txt
var/web/static/*.doc
var/web/static/*.docx
var/web/face/*.pdf
var/web/face/*.txt
var/web/face/*.doc
var/web/face/*.docx
.DS_Store
.password

*.aof
*.rdb
*.db
*.doc
*.docx
*.obj

*.dropbox
.dropbox
npm-debug.log
pip-selfcheck.json

Procfile
var/web/face/uploads/*.jpg
var/web/face/uploads/*.gif
var/web/face/uploads/*.png

bin/
!local/bin/
local/bin/redis-*
build/
dist/
etc/ipython/history
etc/ipython/db/shadowhist/
etc/ipython/db/shadowhist_idx
etc/ipy-profile/history.sqlite
etc/ipy-profile/history*
sdist/
include/
lib/
local/lib/
!local/lib/python2.7
man/
local/man
share/*
!share/misc/
!misc/*
var/cache/
var/logs/
var/run/
var/tmp/
!var/db/
!var/web/
var/web/face/downloads/

